body{
	background: white;
}
.personalinformation{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
.personalinformation img{
	width: 10%;
	height: 10%;
}
